@model hlcWeb.Models.User

@{
    var errMsg = ViewBag.ErrorMessage;
    var action = string.IsNullOrEmpty(Model.OriginalUserId) ? "Add" : "Edit";
    ViewBag.Title = $"{action} User";
    var userRole = (string)Session["UserRole"];
    var currentUserId = (string)Session["UserId"];
}

<div class="well">
    <i class="fa fa-user-o fa-2x fa-fw text-primary"></i><span class="h3"> @action User</span>
</div>
<div class="container">
    @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.DateLastOn)
        @Html.Hidden("OriginalUserId",Model.UserId)

        if (!string.IsNullOrEmpty(errMsg))
        {
            <div class="alert alert-danger" role="alert">
                @errMsg
            </div>
        }
        else { 
            if (action == "Add")
            {
            <div class="alert alert-info" role="alert">
                Enter the basic contact information for this User.  
            </div>
            }
        }
        if (userRole == "Admin")
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserRole, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.UserRole, (SelectList)ViewBag.UserRoleSelectList, "Select...", new { @class = "form-control", style = "max-width:100%;" })
                    @Html.ValidationMessageFor(m => m.UserRole)
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserRole, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.UserRole, (SelectList)ViewBag.UserRoleSelectList, "Select...", new { @class = "form-control", style = "max-width:100%;", disabled = "disabled" })
                    @Html.HiddenFor(m => m.UserRole)
                </div>
            </div>
        }
        if (action == "Add")
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserId, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.UserId, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.UserId)
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(m => m.UserId)
                </div>
            </div>
        }
        if (userRole == "Admin" || currentUserId == Model.UserId)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Password, new {@class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(m => m.Password)
        }
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HomePhone, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.HomePhone, new { @class = "form-control", type = "tel" })
                @Html.ValidationMessageFor(m => m.HomePhone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CellPhone, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.CellPhone, new { @class = "form-control", type = "tel" })
                @Html.ValidationMessageFor(m => m.CellPhone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", type = "email" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.State, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control", style = "width:60px;" })
                @Html.ValidationMessageFor(m => m.State)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Zip, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", style = "width:120px;" })
                @Html.ValidationMessageFor(m => m.Zip)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.IsActive)
                    @Html.LabelFor(m => m.IsActive)
                    @Html.ValidationMessageFor(m => m.IsActive)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.MustChangePassword)
                    @Html.LabelFor(m => m.MustChangePassword)
                    @Html.ValidationMessageFor(m => m.MustChangePassword)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Cancel</button>
            </div>
        </div>
    }
</div>
@section scripts
{
    <script>
        $(document)
            .ready(function() {

                $("form")
                    .submit(function() {
                        var form = $(this);
                        // Highlight errors
                        if (form.valid() === false) {
                            form.find("div.form-group")
                                .each(function() {
                                    if ($(this).find("span.field-validation-error").length > 0)
                                        $(this).addClass("has-error");
                                    if ($(this).find("span.field-validation-valid").length > 0)
                                        $(this).removeClass("has-error");
                                });
                        }
                        return true;
                    });
            });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
