@using hlcWeb.Infrastructure
@model hlcWeb.Models.User

@{
    ViewBag.Title = "User";
    var userRole = (string)Session["UserRole"];
    var currentUserId = (string)Session["UserId"];
}

<div class="well">
    <i class="fa fa-user-o fa-2x fa-fw text-primary"></i><span class="h3"> @(Model.FullName)</span>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    User Information
                    @if (userRole == "Admin" || currentUserId == Model.UserId)
                    {
                        <span class="pull-right hidden-print hidden-xs">
                            <a href="@Url.Action("Edit","Users", new {id = Model.UserId})" class="hlc-panel-icon js-edit"><i class="fa fa-edit" title="Edit"></i></a>
                        </span>
                    }
                </div>
                <table class="table table-condensed">
                    @if (userRole == "Admin")
                    {
                        <tr>
                            <td class="hlc-prompt" style="width: 88px;">Status:</td>
                            <td><i class="fa fa-@Model.IsActive.Icon() fa-fw"></i> User is @Model.IsActive.Not() Active</td>
                        </tr>                        
                    }
                    <tr>
                        <td class="hlc-prompt" style="width: 88px;">User Type:</td>
                        <td>@Model.UserRole</td>
                    </tr>
                    <tr>
                        <td class="hlc-prompt" style="width: 88px;">User Id:</td>
                        <td>@Model.UserId</td>
                    </tr>
                    <tr>
                        <td class="hlc-prompt">Address:</td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.Address))
                            {
                                @Model.Address
                                <br/>
                            }
                            @(Model.City) @(Model.State) @(Model.Zip) <br/>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.CellPhone))
                    {
                        <tr>
                            <td class="hlc-prompt">Mobile Phone:</td>
                            <td>
                                <a href="tel:@(Model.CellPhone)">@(Model.CellPhone) </a>
                            </td>
                        </tr>

                    }
                    @if (!string.IsNullOrEmpty(Model.HomePhone))
                    {
                        <tr>
                            <td class="hlc-prompt">Home Phone:</td>
                            <td>
                                <a href="tel:@(Model.HomePhone)">@(Model.HomePhone) </a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="hlc-prompt" style="width: 88px;">Email Address:</td>
                        <td><a href="mailto:@Model.EmailAddress">@Model.EmailAddress</a></td>
                    </tr>
                    <tr>
                        <td class="hlc-prompt">Address:</td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.Address))
                            {
                                @Model.Address
                                <br/>
                            }
                            @(Model.City) @(Model.State) @(Model.Zip) <br/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
