@model List<hlcWeb.Models.CaseFile>

<br />
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <i class="fa fa-address-card-o hlc-fa"></i> Case Files
    </div>
    <table id="searchTable" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Case Date</th>
                <th>Patient</th>
                <th class="hidden-xs">Congregation</th>
                <th>Doctor</th>
                <th class="hidden-xs">Hospital</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var caseFile in @Model)
            {
                <tr class="js-click-row">
                    <td>@Html.ActionLink(caseFile.CaseDate.ToShortDateString(), "View", "CaseFiles", new { id = caseFile.Id }, null) </td>
                    <td>
                        @caseFile.PatientName
                        <span class="visible-xs">@caseFile.CongregationName</span>
                    </td>
                    <td class="hidden-xs">@caseFile.CongregationName</td>
                    <td>
                        @caseFile.DoctorName
                        <span class="visible-xs">@caseFile.HospitalName</span>
                    </td>
                    <td class="hidden-xs">@caseFile.HospitalName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="@Url.Content("~/Scripts/hlc_Search.js")"></script>

