@using hlcWeb.Infrastructure
@model hlcWeb.Models.CaseFile
@{
    ViewBag.Title = "Case File";
    var userRole = (string)Session["UserRole"];
}
<div class="well">
    <i class="fa fa-address-card-o fa-2x fa-fw text-primary"></i><span class="h3"> @Model.PatientName</span>
</div>
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Case information
                <span class="pull-right hidden-print hidden-xs">
                    <a href="@Url.Action("Edit", "CaseFiles", new {id = Model.Id})" class="hlc-panel-icon js-edit">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td class="hlc-prompt">Case Date:</td>
                    <td>@Model.CaseDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td class="hlc-prompt">Entered on:</td>
                    <td>@Model.DateEntered.ToShortDateString() by @Model.EnteredBy</td>
                </tr>
                @if (Model.DateLastUpdated.Date != Model.DateEntered.Date && Model.DateLastUpdated != DateTime.MinValue)
                {
                    <tr>
                        <td class="hlc-prompt">Updated on:</td>
                        <td>@Model.DateLastUpdated.ToShortDateString() by @Model.LastUpdatedBy</td>
                    </tr>
                }
                <tr>
                    <td class="hlc-prompt">Patient:</td>
                    <td>@Model.PatientName</td>
                </tr>
                @if (Model.Age != null)
                {
                    <tr>
                        <td class="hlc-prompt">Age:</td>
                        <td>@Model.Age.ToString()</td>
                    </tr>                    
                }
                <tr>
                    <td class="hlc-prompt">@Constants.Congregation:</td>
                    <td>@Model.CongregationName</td>
                </tr>
                <tr>
                    <td class="hlc-prompt">@Constants.DoctorId:</td>
                    <td>
                        @Model.DoctorName
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.AssistName))
                {
                    <tr>
                        <td class="hlc-prompt">@Constants.AssistingId:</td>
                        <td>
                            @Model.AssistName
                        </td>
                    </tr>
                }
                    @if (!string.IsNullOrEmpty(Model.AnesthName))
                    {
                        <tr>
                            <td class="hlc-prompt">@Constants.AnesthId:</td>
                            <td>
                                @Model.AnesthName
                            </td>
                        </tr>
                    }
                <tr>
                    <td class="hlc-prompt">Hospital:</td>
                    <td>
                        @Model.HospitalName
                    </td>
                </tr>
                <tr>
                    <td class="hlc-prompt">Diagnosis:</td>
                    <td>
                        @Model.DiagnosisName
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.ConsultingDoctor))
                {
                    <tr>
                        <td class="hlc-prompt">Consulting Info:</td>
                        <td>@Model.ConsultingDoctor</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Pediatric Information
                <span class="pull-right hidden-print hidden-xs">
                    <a href="@Url.Action("Edit", "CaseFiles", new {id = Model.Id})" class="hlc-panel-icon js-edit">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>
                        <i class="fa fa-@Model.IsPediatricCase.Icon() fa-fw"></i> Pediatric Case
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-@Model.CourtOrderSought.Icon() fa-fw"></i> Court order @Model.CourtOrderSought.Not() sought
                        @{
                            if (Model.CourtOrderSought)
                            {
                                <text>by </text> @Model.CourtOrderSoughtBy.EnumDisplayName()
                                <br /><i class="fa fa-@Model.CourtOrderGranted.Icon() fa-fw"></i> <text>Court order </text>@Model.CourtOrderGranted.Not() <text>granted</text>
                            }
                            if (!Model.CourtOrderGranted)
                            {
                                <text>- </text>
                                @Model.CourtOrderNotGrantedReason.EnumDisplayName()
                            }
                            if (Model.CourtOrderSought && Model.CourtOrderGranted)
                            {
                                <text><br /><i class="fa fa-@Model.ParentsNotified.Icon() fa-fw"></i> Parent/guardian was @Model.ParentsNotified.Not() notified prior to hearing</text>
                                <text><br /><i class="fa fa-@Model.ParentsChargedNeglect.Icon() fa-fw"></i> Parents @Model.ParentsChargedNeglect.Not() charged with neglect</text>
                                <text><br /><i class="fa fa-@Model.ParentsRightsRemoved.Icon() fa-fw"></i> Parental rights were @Model.ParentsRightsRemoved.Not() removed  </text>
                            }
                            if (Model.PatientTransferred)
                            {
                                <text><br /><i class="fa fa-@Model.PatientTransferred.Icon() fa-fw"></i> Patient was transferred</text>
                                if (!string.IsNullOrEmpty(Model.TransferDetails))
                                {
                                    <text> - </text>@Model.TransferDetails
                                }
                            }
                            if (!string.IsNullOrEmpty(Model.CourtOrderComments))
                            {
                                <br /><br />@Model.CourtOrderComments
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-@Model.TransfusionGiven.Icon() fa-fw"></i> Transfusion @Model.TransfusionGiven.Not() given
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="MedicalHistory" class="panel panel-primary">
            <div class="panel-heading">
                Medical History
                <span class="pull-right hidden-print hidden-xs">
                    <a href="#" onclick="hlcEditText('CaseFiles', '@Model.Id', 'MedicalHistory');" class="hlc-panel-icon">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <div class="panel-body" data-hlc-text="@Model.MedicalHistory">                
                @if (string.IsNullOrEmpty(Model.MedicalHistory))
                {
                    <p>
                        <em>No medical history entered.</em>
                    </p>
                }
                else
                {
                    <p>
                        @Html.Raw(Model.MedicalHistory.ToHtml())
                    </p>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="TreatmentPlan" class="panel panel-primary">
            <div class="panel-heading">
                Treatment Plan
                <span class="pull-right hidden-print hidden-xs">
                    <a href="#" onclick="hlcEditText('CaseFiles', '@Model.Id', 'TreatmentPlan');" class="hlc-panel-icon">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <div class="panel-body" data-hlc-text="@Model.TreatmentPlan">
                @if (string.IsNullOrEmpty(Model.TreatmentPlan))
                {
                    <p>
                        <em>No treatment plan entered.</em>
                    </p>
                }
                else
                {
                    <p>
                        @Html.Raw(Model.TreatmentPlan.ToHtml())
                    </p>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="PossibleStrategies" class="panel panel-primary">
            <div class="panel-heading">
                Possible Strategies
                <span class="pull-right hidden-print hidden-xs">
                    <a href="#" onclick="hlcEditText('CaseFiles', '@Model.Id', 'PossibleStrategies');" class="hlc-panel-icon">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <div class="panel-body" data-hlc-text="@Model.PossibleStrategies">
                @if (string.IsNullOrEmpty(Model.PossibleStrategies))
                {
                    <p>
                        <em>No strategies entered.</em>
                    </p>
                }
                else
                {
                    @Html.Raw(Model.PossibleStrategies.ToHtml())
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id ="ArticlesShared" class="panel panel-primary">
            <div class="panel-heading">
                Articles Shared
                <span class="pull-right hidden-print hidden-xs">
                    <a href="#" onclick="hlcEditText('CaseFiles', '@Model.Id', 'ArticlesShared');" class="hlc-panel-icon">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <div class="panel-body" data-hlc-text="@Model.ArticlesShared">                    
                @if (string.IsNullOrEmpty(Model.ArticlesShared))
                {
                    <p>
                        <em>No articles shared have been entered.</em>
                    </p>
                }
                else
                {
                    <p>
                        @Html.Raw(Model.ArticlesShared.ToHtml())
                    </p>
                }                    
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="Outcome" class="panel panel-primary">
            <div class="panel-heading">
                Outcome
                <span class="pull-right hidden-print hidden-xs">
                    <a href="#" onclick="hlcEditText('CaseFiles', '@Model.Id', 'Outcome');" class="hlc-panel-icon">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <div class="panel-body" data-hlc-text="@Model.Outcome">
                @if (string.IsNullOrEmpty(Model.Outcome))
                {
                    <p>
                        <em>No outcome entered.</em>
                    </p>
                }
                else
                {
                    <p>
                        @Html.Raw(Model.Outcome.ToHtml())
                    </p>
                }
            </div>
        </div>
    </div>
</div>
@if (userRole == "Admin")
{
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-danger btn-sm" onclick="DeleteRecord('CaseFiles','@Model.Id','@Model.PatientName', 'Are you sure you wish to delete this Case File for @Model.PatientName?')"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
            <br />&nbsp;
        </div>        
    </div>
}
</div>
<script src="@Url.Content("~/Scripts/hlc_EditText.js")"></script>
<script src="@Url.Content("~/Scripts/hlc_DeleteRecord.js")"></script>
