@using hlcWeb.Infrastructure
@model hlcWeb.Models.CaseFile
@{
    ViewBag.Title = "Case File";
}
<h3><i class="fa fa-address-card-o fa-2x text-primary"></i> @Model.PatientName</h3>
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Case information
                <span class="pull-right hidden-print hidden-xs">
                    <a href="@Url.Action("Edit", "CaseFiles", new {id = Model.Id})" class="hlc-panel-icon js-edit">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td class="hlc-prompt">Case Date:</td>
                    <td>@Model.CaseDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td class="hlc-prompt">Entered on:</td>
                    <td>@Model.DateEntered.ToShortDateString() by @Model.EnteredBy</td>
                </tr>
                @if (Model.DateLastUpdated.Date != Model.DateEntered.Date && Model.DateLastUpdated != DateTime.MinValue)
                {
                    <tr>
                        <td class="hlc-prompt">Updated on:</td>
                        <td>@Model.DateLastUpdated.ToShortDateString() by @Model.UpdatedBy</td>
                    </tr>
                }
                <tr>
                    <td class="hlc-prompt">Patient:</td>
                    <td>@Model.PatientName</td>
                </tr>
                <tr>
                    <td class="hlc-prompt">Congregation:</td>
                    <td>@Model.CongregationName</td>
                </tr>
                <tr>
                    <td class="hlc-prompt">Doctor:</td>
                    <td>
                        @Model.DoctorName
                    </td>
                </tr>
                <tr>
                    <td class="hlc-prompt">Hospital:</td>
                    <td>
                        @Model.HospitalName
                    </td>
                </tr>
                <tr>
                    <td class="hlc-prompt">Diagnosis:</td>
                    <td>
                        @Model.DiagnosisName
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.ConsultingDoctor))
                {
                    <tr>
                        <td class="hlc-prompt">Consulting Info:</td>
                        <td>@Model.ConsultingDoctor</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Pediatric Information</div>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>
                        <i class="fa fa-@Model.IsPediatricCase.Icon() fa-fw"></i> Pediatric Case
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-@Model.CourtOrderSought.Icon() fa-fw"></i> Court order @Model.CourtOrderSought.Not() sought
                        @{
                            if (Model.CourtOrderSought)
                            {
                                <text>by </text> @Model.CourtOrderSoughtBy.EnumDisplayName()
                                <br /><i class="fa fa-@Model.CourtOrderGranted.Icon() fa-fw"></i> <text>Court order </text>@Model.CourtOrderGranted.Not() <text>granted</text>
                            }
                            if (!Model.CourtOrderGranted)
                            {
                                <text>- </text>
                                @Model.CourtOrderNotGrantedReason.EnumDisplayName()
                            }
                            if (Model.CourtOrderSought && Model.CourtOrderGranted)
                            {
                                <text><br /><i class="fa fa-@Model.ParentsNotified.Icon() fa-fw"></i> Parent/guardian was @Model.ParentsNotified.Not() notified prior to hearing</text>
                                <text><br /><i class="fa fa-@Model.ParentsChargedNeglect.Icon() fa-fw"></i> Parents @Model.ParentsChargedNeglect.Not() charged with neglect</text>
                                <text><br /><i class="fa fa-@Model.ParentsRightsRemoved.Icon() fa-fw"></i> Parental rights were @Model.ParentsRightsRemoved.Not() removed  </text>
                            }
                            if (Model.PatientTransferred)
                            {
                                <text><br /><i class="fa fa-@Model.PatientTransferred.Icon() fa-fw"></i> Patient was transferred</text>
                                if (!string.IsNullOrEmpty(Model.TransferDetails))
                                {
                                    <text> - </text>@Model.TransferDetails
                                }
                            }
                            if (!string.IsNullOrEmpty(Model.CourtOrderComments))
                            {
                                <br /><br />@Model.CourtOrderComments
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-@Model.TransfusionGiven.Icon() fa-fw"></i> Transfusion @Model.TransfusionGiven.Not() given
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="MedicalHistory" class="panel panel-primary">
            <div class="panel-heading">
                Medical History
                <span class="pull-right hidden-print hidden-xs">
                    <a href="#" onclick="hlcEditText('CaseFiles', 'MedicalHistory');" class="hlc-panel-icon">
                        <i class="fa fa-edit" title="Edit"></i>
                    </a>
                </span>
            </div>
            <div class="panel-body text-center hlc-panel-body">
                <p style="white-space: pre-line;">
                    @if (string.IsNullOrEmpty(Model.MedicalHistory))
                    {
                        <em>No medical history entered.</em>
                    }
                    else
                    {
                        @Model.MedicalHistory
                    }
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Treatment Plan</div>
            @if (string.IsNullOrEmpty(Model.TreatmentPlan))
            {
                <div class="panel-body text-center">
                    <em>No treatment plan entered.</em>
                </div>
            }
            else
            {
                <div class="panel-body text-center">
                    <p style="white-space: pre-line;">
                        @Model.TreatmentPlan
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Possible Strategies</div>
            @if (string.IsNullOrEmpty(Model.PossibleStrategies))
            {
                <div class="panel-body text-center">
                    <em>No strategies entered.</em>
                </div>
            }
            else
            {
                <div class="panel-body text-center">
                    <p style="white-space: pre-line;">
                        @Model.PossibleStrategies
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Articles Shared</div>
            @if (string.IsNullOrEmpty(Model.ArticlesShared))
            {
                <div class="panel-body text-center">
                    <em>No articles entered.</em>
                </div>
            }
            else
            {
                <div class="panel-body text-center">
                    <p style="white-space: pre-line;">
                        @Model.ArticlesShared
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Outcome</div>
            @if (string.IsNullOrEmpty(Model.Outcome))
            {
                <div class="panel-body text-center">
                    <em>No outcome entered.</em>
                </div>
            }
            else
            {
                <div class="panel-body text-center">
                    <p style="white-space: pre-line;">
                        @Model.Outcome
                    </p>
                </div>
            }
        </div>
    </div>
</div>
</div>
<script>
    function hlcEditText(controller, field) {
        var title = $("#" + field + " > .panel-heading").text();
        var initValue = "This is the initial value";
        bootbox.prompt({
            title: title,
            className: "hlc-textarea",
            size: "large",
            inputType: 'textarea',
            value: initValue,
            callback: function (result) {
                $.ajax({
                        method: "GET",
                        url: "/api/" + controller + "/savetext",
                        data: { fieldName: field, textValue: result }
                    })
                    .done(function (msg) {
                        debugger;
                        $("#" + field + " > .panel-body").removeClass("text-center");
                        $("#" + field + " > .panel-body p").text(result);
                    })
                    .fail(function (jqXhr) {
                        alert(jqXhr.responseText);
                    });
            }
        });
    }
</script>