@model hlcWeb.Models.DoctorNote

@{
    ViewBag.Title = "Comment";
}

<div class="well">
    <i class="fa fa-comment-o fa-2x fa-fw text-primary"></i><span class="h3"> Comment for @Model.DoctorName</span>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @Model.UserName on @Model.DateEntered.ToShortDateString()
                    <span class="pull-right">
                        <a href="@Url.Action("Edit","Notes", new {id = Model.Id, url = ViewBag.Url})" class="hlc-panel-icon js-edit"><i class="fa fa-edit" title="Edit"></i></a>
                    </span>
                </div>
                <div class="panel-body">
                    <p style="white-space: pre-line;">
                        @Model.Notes
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

