@model List<hlcWeb.Models.Practice>

<br />
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <i class="fa fa-medkit hlc-fa"></i> Practices
    </div>
    <table id="searchTable" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Practice</th>
                <th class="hidden-xs">Street Address</th>
                <th class="hidden-xs">City, State</th>
                <th>Office Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var practice in @Model)
            {
                <tr class="js-click-row">
                    <td>
                        @Html.ActionLink(practice.PracticeName, "View", "Practices", new {id = practice.Id}, null)
                        <span class="visible-xs">
                            @practice.Address1<br />
                            @(practice.City + (!string.IsNullOrEmpty(practice.State) ? " " + practice.State : ""))
                        </span>
                    </td>
                    <td class="hidden-xs">
                        @practice.Address1
                        @if (!string.IsNullOrEmpty(practice.Address2))
                        {
                            <br/>@practice.Address2
                        }
                        @if (!string.IsNullOrEmpty(practice.Address3))
                        {
                            <br />@practice.Address3
                        }
                    </td>
                    <td class="hidden-xs">@(practice.City + (!string.IsNullOrEmpty(practice.State) ? " " + practice.State : "") )</td>
                    <td class="hlc-table-phone">@practice.OfficePhone1</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="@Url.Content("~/Scripts/hlc_search.js")"></script>

