@{
    ViewBag.Title = "Home";
}
<br />
<br />
<div class="container">
    @*Rolodex buttons -- hidden for mobile*@
    <div class="row hidden-xs hlc-div-center">
        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-primary js-search-btn">A</button>
                <button type="button" class="btn btn-primary js-search-btn">B</button>
                <button type="button" class="btn btn-primary js-search-btn">C</button>
                <button type="button" class="btn btn-primary js-search-btn">D</button>
                <button type="button" class="btn btn-primary js-search-btn">E</button>
                <button type="button" class="btn btn-primary js-search-btn">F</button>
                <button type="button" class="btn btn-primary js-search-btn">G</button>
                <button type="button" class="btn btn-primary js-search-btn">H</button>
                <button type="button" class="btn btn-primary js-search-btn">I</button>
                <button type="button" class="btn btn-primary js-search-btn">J</button>
                <button type="button" class="btn btn-primary js-search-btn">K</button>
                <button type="button" class="btn btn-primary js-search-btn">L</button>
                <button type="button" class="btn btn-primary js-search-btn">M</button>
                <button type="button" class="btn btn-primary js-search-btn">N</button>
                <button type="button" class="btn btn-primary js-search-btn">O</button>
                <button type="button" class="btn btn-primary js-search-btn">P</button>
                <button type="button" class="btn btn-primary js-search-btn">Q</button>
                <button type="button" class="btn btn-primary js-search-btn">R</button>
                <button type="button" class="btn btn-primary js-search-btn">S</button>
                <button type="button" class="btn btn-primary js-search-btn">T</button>
                <button type="button" class="btn btn-primary js-search-btn">U</button>
                <button type="button" class="btn btn-primary js-search-btn">V</button>
                <button type="button" class="btn btn-primary js-search-btn">W</button>
                <button type="button" class="btn btn-primary js-search-btn">XYZ</button>
            </div>
            <br />
        </div>
    </div>
    @*Search box -- User can switch what is searched via the dropdown button*@
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i id="search-active-icon" data-search-icon="fa-user-md" class="fa fa-user-md hlc-fa"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu js-search-dropdown">
                        <li><a href="#" data-search-icon="fa-user-md"><i class="fa fa-user-md hlc-fa"></i> Doctors</a></li>
                        <li><a href="#" data-search-icon="fa-stethoscope"><i class="fa fa-stethoscope hlc-fa"></i> Specialties</a></li>
                        <li><a href="#" data-search-icon="fa-hospital-o"><i class="fa fa-hospital-o hlc-fa"></i> Hospitals</a></li>
                        <li><a href="#" data-search-icon="fa-medkit"><i class="fa fa-medkit hlc-fa"></i> Practices</a></li>
                        <li><a href="#" data-search-icon="fa-comment"><i class="fa fa-comment hlc-fa"></i> Comments</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input id="search-box" style="max-width: 100%; height: 36px;" type="text" class="form-control js-search" placeholder="Find Doctors...">
            </div><!-- /input-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="doctorlist">
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            // Rolodex buttons
            $(".js-search-btn").click(function(e) {
                var btnText = $(e.target).text();
                DoSearch(btnText);
            });

            // Search box entry
            $(".js-search").keyup(function(e) {
                var search = $(e.target);
                if (search.val().length > 2) {
                    DoSearch(search.val());
                }
            });

            // Search box dropdwon - user selects different search type
            $(".js-search-dropdown").click(function(e) {
                var iconSelected = $(e.target).data("search-icon");
                var box          = $("#search-box");
                $("#search-active-icon")
                    .removeClass("fa-user-md")
                    .removeClass("fa-stethoscope")
                    .removeClass("fa-hospital-o")
                    .removeClass("fa-medkit")
                    .removeClass("fa-comment")
                    .addClass(iconSelected)
                    .data("search-icon", iconSelected);
                switch (iconSelected) {
                case 'fa-user-md':
                    box.prop("placeholder", "Find Doctors...").val("");
                    break;
                case 'fa-stethoscope':
                    box.prop("placeholder", "Find Specialties...").val("");
                    break;
                case 'fa-hospital-o':
                    box.prop("placeholder", "Find Hospitals...").val("");
                    break;
                case 'fa-medkit':
                    box.prop("placeholder", "Find Practices...").val("");
                    break;
                case 'fa-comment':
                    box.prop("placeholder", "Find Comments...").val("");
                    break;
                default:
                }
            });
        });

        function DoSearch(searchStr) {
            var url = "";
            switch ($("#search-active-icon").data("search-icon")) {
            case 'fa-user-md':
                url = "@Url.Action("Search", "Doctors")";
                break;
            case 'fa-stethoscope':
                url = "@Url.Action("Search", "Specialties")";
                break;
            case 'fa-hospital-o':
                url = "@Url.Action("Search", "Hospitals")";
                break;
            case 'fa-medkit':
                url = "@Url.Action("Search", "Practices")";
                break;
            case 'fa-comment':
                url = "@Url.Action("Search", "Notes")";
                break;
            default:
            }
            $.ajax({
                    method: "POST",
                    url: url,
                    data: { search: searchStr }
                })
                .done(function(msg) {
                    $("#doctorlist").html(msg);
                })
                .fail(function(jqXhr) {
                    $("#doctorlist").html(jqXhr.responseText);
                });

        }

    </script>    
}
