@{
    ViewBag.Title = "Home";
}
<br />
<br />
<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="row">
            <div class="alert alert-info">@ViewBag.Message</div>
        </div>
    }
    @*Search box -- User can switch what is searched via the dropdown button*@
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i id="search-active-icon" data-search-icon="fa-user-md" class="fa fa-user-md hlc-fa"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu js-search-dropdown">
                        <li><a href="#" data-search-icon="fa-user-md"><i class="fa fa-user-md fa-fw"></i> Doctors</a></li>
                        <li><a href="#" data-search-icon="fa-address-card-o"><i class="fa fa-address-card-o fa-fw"></i> Case Files</a></li>
                        <li><a href="#" data-search-icon="fa-stethoscope"><i class="fa fa-stethoscope fa-fw"></i> Specialties</a></li>
                        <li><a href="#" data-search-icon="fa-hospital-o"><i class="fa fa-hospital-o fa-fw"></i> Hospitals</a></li>
                        <li><a href="#" data-search-icon="fa-medkit"><i class="fa fa-medkit fa-fw"></i> Practices</a></li>
                        <li><a href="#" data-search-icon="fa-comment-o"><i class="fa fa-comment-o fa-fw"></i> Comments</a></li>
                        <li><a href="#" data-search-icon="fa-heart-o"><i class="fa fa-heart-o fa-fw"></i> PVG Members</a></li>
                        <li><a href="#" data-search-icon="fa-user-o"><i class="fa fa-user-o fa-fw"></i> Users</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input id="search-box" style="max-width: 100%; height: 36px;" type="text" class="form-control js-search" placeholder="Find Doctors...">
            </div><!-- /input-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="searchlist">
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            // Switch to the last search icon used
            var activeIcon = localStorage.HLC_SearchIcon;
            if (activeIcon === undefined) {
                activeIcon = "fa-user-md";
            }
            SwitchIcon(activeIcon);

            // Search box dropdown - user selects different search type; Change icon and placeholder
            $(".js-search-dropdown").click(function (e) {
                //var iconSelected = $(e.target).data("search-icon");
                SwitchIcon($(e.target).data("search-icon"));
            });

            // Search box entry
            $(".js-search").keyup(function (e) {
                var search = $(e.target);
                if (search.val().length > 0) {
                    DoSearch(search.val());
                }
            });
        });

        // Set the correct icon and placeholder
        function SwitchIcon(activeIcon) {
            var box = $("#search-box");
            $("#search-active-icon")
                .removeClass("fa-user-md")
                .removeClass("fa-address-card-o")
                .removeClass("fa-stethoscope")
                .removeClass("fa-hospital-o")
                .removeClass("fa-medkit")
                .removeClass("fa-comment-o")
                .removeClass("fa-user-o")
                .removeClass("fa-heart-o")
                .addClass(activeIcon)
                .data("search-icon", activeIcon);
            switch (activeIcon) {
            case 'fa-user-md':
                box.prop("placeholder", "Find Doctors...").val("");
                break;
            case 'fa-address-card-o':
                box.prop("placeholder", "Find Case Files...").val("");
                break;
            case 'fa-stethoscope':
                box.prop("placeholder", "Find Specialties...").val("");
                break;
            case 'fa-hospital-o':
                box.prop("placeholder", "Find Hospitals...").val("");
                break;
            case 'fa-medkit':
                box.prop("placeholder", "Find Practices...").val("");
                break;
            case 'fa-comment-o':
                box.prop("placeholder", "Find Comments...").val("");
                break;
            case 'fa-user-o':
                box.prop("placeholder", "Find Users...").val("");
                break;
            case 'fa-heart-o':
                box.prop("placeholder", "Find PVG Members...").val("");
                break;
            default:
            }

        }

        function DoSearch(searchStr) {
            if (searchStr.length > 0 || searchStr === "*") {
                var url = "";
                var activeIcon = $("#search-active-icon").data("search-icon");
                localStorage.HLC_SearchIcon = activeIcon;
                localStorage.HLC_SearchStr = searchStr;
                switch (activeIcon) {
                case 'fa-user-md':
                    url = "@Url.Action("Search", "Doctors")";
                    break;
                case 'fa-address-card-o':
                    url = "@Url.Action("Search", "CaseFiles")";
                    break;
                case 'fa-stethoscope':
                    url = "@Url.Action("Search", "Specialties")";
                    break;
                case 'fa-hospital-o':
                    url = "@Url.Action("Search", "Hospitals")";
                    break;
                case 'fa-medkit':
                    url = "@Url.Action("Search", "Practices")";
                    break;
                case 'fa-comment-o':
                    url = "@Url.Action("Search", "Notes")";
                    break;
                case 'fa-user-o':
                    url = "@Url.Action("Search", "Users")";
                    break;
                case 'fa-heart-o':
                    url = "@Url.Action("Search", "PvgMembers")";
                    break;
                default:
                }
                $.ajax({
                        method: "POST",
                        url: url,
                        data: { search: searchStr }
                    })
                    .done(function(msg) {
                        $("#searchlist").html(msg);
                    })
                    .fail(function(jqXhr) {
                        $("#searchlist").html(jqXhr.responseText);
                    });                
            }
        }
    </script>    
    
}
