@model hlcWeb.ViewModels.Reports.RptAnnualReport
@{
    ViewBag.Title = "Report: Annual Report";

    var coopHalf = (int)Math.Ceiling(Model.CoopDoctors.Count / 2.0);
}

<div class="container">
    <div class="visible-print" style="margin-top: -40px;"></div>
    <table class="table hlc-table-noline" style="font-size: 14px;">
        <thead>
        <tr>
            <th colspan="99">
                <i class="fa fa-heartbeat"></i> <strong>Hospital Liaison Committee</strong> <span class="hlc-report-hdg">@ViewBag.ReportName</span>
            </th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td></td>
        </tr>
        </tfoot>
        <tbody>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td style="width: 500px;">(1) Date:</td>
            <td class="hlc-report-field">@DateTime.Today.ToString("MMMM dd, yyyy")</td>
        </tr>
        <tr>
            <td style="width: 500px; border: 1px solid #fff;">(2) Name of Hospital Liaison Committee:</td>
            <td class="hlc-report-field">Charlotte, NC</td>
        </tr>
        <tr>
            <td style="width: 500px;">(3) Number of Hospital Liaison Committee members:</td>
            <td class="hlc-report-field">@Model.HlcCount.ToString()</td>
        </tr>
        <tr>
            <td style="width: 500px;">(4) Number of significant presentations given:</td>
            <td>_____</td>
        </tr>
        <tr>
            <td style="width: 500px;">(5) Number of Patient Visitation Group members:</td>
            <td class="hlc-report-field">@Model.PvgCount.ToString()</td>
        </tr>
        <tr>
            <td colspan="2">
                (6) Number of hospitals by type:
                <table class="table-condensed">
                    <tr>
                        <td style="width: 40px;">&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[0].Count</td>
                        <td style="width: 230px;">@Model.Hospitals[0].Name</td>
                        <td style="width: 40px;">&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[1].Count</td>
                        <td>@Model.Hospitals[1].Name</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[2].Count</td>
                        <td>@Model.Hospitals[2].Name</td>
                        <td>&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[7].Count</td>
                        <td>@Model.Hospitals[7].Name</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[3].Count</td>
                        <td>@Model.Hospitals[3].Name</td>
                        <td>&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[8].Count</td>
                        <td>@Model.Hospitals[8].Name</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[4].Count</td>
                        <td>@Model.Hospitals[4].Name</td>
                        <td>&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[5].Count</td>
                        <td>@Model.Hospitals[5].Name</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[6].Count</td>
                        <td>@Model.Hospitals[6].Name</td>
                        <td>&nbsp;</td>
                        <td class="hlc-report-field">@Model.Hospitals[9].Count</td>
                        <td>@Model.Hospitals[9].Name</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                (7) Number of cooperative doctors by specialty:
                <table class="table-condensed">
                    @for (int i = 0; i < coopHalf; i++)
                    {
                        <tr>
                            <td style="width: 40px;">&nbsp;</td>
                            <td class="hlc-report-field">@Model.CoopDoctors[i].Count</td>
                            <td style="width: 230px;">@Model.CoopDoctors[i].Name</td>
                            <td style="width: 40px;">&nbsp;</td>
                            @if (i + coopHalf <= Model.CoopDoctors.Count - 1)
                            {
                                <td class="hlc-report-field">@Model.CoopDoctors[i + coopHalf].Count</td>
                                <td>@Model.CoopDoctors[i + coopHalf].Name</td>
                            }
                        </tr>
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 500px;">(8) Complete page 2 (if applicable).</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div class="text-center hlc-report-hdg">Information On Hospitals With a BMSP</div>
    <hr style="border-top: 2px solid #ddd;" />
    @foreach(var b in Model.BMSP) { 
        <div style="border: 1px solid black; margin: 10px; padding: 8px;">
            <table class="table-condensed">
                <tbody>
                <tr>
                    <td style="width: 20%;"></td>
                    <td style="width: 28%;"></td>
                    <td style="width: 2%;"></td>
                    <td style="width: 24%;"></td>
                    <td style="width: 24%;"></td>
                    <td style="width: 2%;"></td>
                </tr>
                <tr>
                    <td>Hospital Name:</td>
                    <td class="hlc-report-field">@b.HospitalName</td>
                    <td>&nbsp;</td>
                    <td>Coordinator's Name:</td>
                    <td class="hlc-report-field">@b.BmspCoordName</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Hospital Address:</td>
                    <td class="hlc-report-field">@b.Address1</td>
                    <td>&nbsp;</td>
                    <td>Coordinator's Phone:</td>
                    <td class="hlc-report-field">@b.BmspCoordPhone</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="hlc-report-field">@b.City @b.State  @b.Zip</td>
                    <td>&nbsp;</td>
                    <td>Witness? (Y or N)</td>
                    <td class="hlc-report-field">@(Model.BMSP[0].BmspCoordName.Length > 0 ? (Model.BMSP[0].BmspCoordIsWitness ? "Yes" : "No") : "")</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6">
                        Please type in some comments on the following questions:
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        &bull; Describe the level of commitment from the hospital administration.<br/>
                    </td>
                </tr>
                <tr>
                    <td class="hlc-report-field" colspan="5">
                        @b.BmspCommitment
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6">
                        &bull; List the specialties represented in the program and describe those that have a high level of
                        experience in a particular type of surgery or medical care.<br/>
                    </td>
                </tr>
                <tr>
                    <td class="hlc-report-field" colspan="5">
                        @b.BmspSpecialties
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4">&bull; How many physicians are participating in the program?</td>
                    <td class="hlc-report-field">@b.BmspNumberOfDoctors</td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
}
</div>
