@using hlcWeb.Infrastructure
@model List<hlcWeb.ViewModels.Reports.RptCaseFilesViewModel>
@{
    ViewBag.Title = "Report: Case Files";
    var filters = ViewBag.Filters;
}

<div class="container">
    <div class="visible-print" style="margin-top: -40px;"></div>
    <table class="table table-striped table-hover" style="font-size: 10px;">
        <thead>
        <tr>
            <th colspan="99">
                <i class="fa fa-heartbeat"></i> <strong>Hospital Liaison Committee</strong> <span class="hlc-report-hdg">@ViewBag.ReportName</span>
                <span class="hlc-report-filters">
                    @if (!string.IsNullOrEmpty(filters))
                    {
                        <br />
                        <br />
                        @Html.Raw(filters)
                    }
                </span>
             </th>
        </tr>
        <tr>
            <th>Case Date</th>
            <th>Entered By</th>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Hospital</th>
            <th>Diagnosis</th>
            <th class="text-center" title="Pediatic Case?">P</th>
            <th class="text-center" title="Court Order Sought?">CO</th>
            <th class="text-center" title="Court Order Granted?">G</th>
            <th class="text-center" title="Transfusion Given?">T</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="10">P = Pediatric Case &bull; CO = Court order sought &bull; G = Court order granted &bull; T = Transfusion given</td>
        </tr>
        </tfoot>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="js-click-row">
                <td class="hidden-print">@Html.ActionLink(item.CaseDate.ToShortDateString(), "View", "CaseFiles", new { id = item.Id }, null)</td>
                <td class="visible-print">@item.CaseDate.ToShortDateString()</td>
                <td>@item.UserName</td>
                <td>@item.PatientName</td>
                <td>@item.DoctorName</td>
                <td>@item.HospitalName</td>
                <td>@item.DiagnosisName</td>
                <td class="text-center"><i class="fa fa-@item.IsPediatricCase.Icon() fa-fw"></i></td>
                <td class="text-center"><i class="fa fa-@item.CourtOrderSought.Icon() fa-fw"></i></td>
                <td class="text-center"><i class="fa fa-@item.CourtOrderGranted.Icon() fa-fw"></i></td>
                <td class="text-center"><i class="fa fa-@item.TransfusionGiven.Icon() fa-fw"></i></td>
            </tr>
        }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/hlc_search.js")"></script>    
}