@model List<hlcWeb.ViewModels.Reports.RptDoctorsAddedRemovedViewModel>
@{
    ViewBag.Title = "Report: Doctors Added and Removed";
}
<div class="container">
    <table class="table table-striped" style="font-size: 10px;">
        <thead>
        <tr>
            <th colspan="99"><i class="fa fa-heartbeat fa-2x"></i> <strong>Hospital Liaison Committee</strong> - Doctors Added and Removed</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Doctor</th>
            <th>Attitude</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DateLastUpdated</td>
                    <td>@item.UserName</td>
                    <td>@item.DoctorName</td>
                    <td>@item.Attitude</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>