@using hlcWeb.Infrastructure
@model hlcWeb.ViewModels.Reports.RptSetupViewModel
@{
    ViewBag.Title = "Report: Doctors Added/Removed";
}

<div class="well">
    <i class="fa fa-file-text-o fa-2x fa-fw text-primary"></i><span class="h3"> HLC Report: Doctors Added/Removed</span>
</div>
<div class="container">
    @using (Html.BeginForm("DoctorsAddedRemoved", "Reports", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()

        <div class="alert alert-info" role="alert">
            Select one or more criteria to limit this report and then click 'Run Report'.
        </div>

        <div class="form-group">
            <div class = "col-sm-3 control-label"><strong>Doctors Added/Removed</strong> @Html.LabelFor(m => m.DateFrom)</div>
            <div class="col-sm-9">
                @Html.EditorFor(m => m.DateFrom, new {type = "date", @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateTo, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.EditorFor(m => m.DateTo, new { type = "date", @class = "form-control" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Run Report</button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Cancel</button>
            </div>
        </div>

    }
</div>

