@model List<hlcWeb.Models.PvgMember>
<br />
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <i class="fa fa-heart-o hlc-fa"></i> PVG Members
    </div>
    <table id="searchTable" class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>PVG Member</th>
            <th class="hlc-table-phone">Mobile</th>
            <th class="hidden-xs">Email</th>
            <th>Congregation</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pvg in @Model)
        {
            <tr class="js-click-row">
                <td>
                    @Html.ActionLink(pvg.FullName, "View", "PvgMembers", new { id = pvg.Id }, null)
                </td>
                <td>@pvg.MobilePhone</td>
                <td class="hidden-xs">@pvg.EmailAddress</td>
                <td>@pvg.Congregation</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script src="@Url.Content("~/Scripts/hlc_search.js")"></script>

