@using hlcWeb.Models;
@{ 
    var user = (User)Session["User"];
    if (user == null)
    {
        user = new User();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - Hospital Liaison Committee</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="apple-touch-icon" href="@Url.Content("~/apple-icon.png")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="fa fa-heartbeat fa-3x hlc-brand" style="float: left;margin-top: 11px;margin-right:8px;margin-left:3px;"></i> @Html.ActionLink("Hospital Liaison Committee", "Search", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Search", "Home")"><i class="fa fa-search fa-fw" style="font-size: 20px;"></i></a></li>
                    @*BEGIN: Add actions*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle"></i> Add <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Edit","CaseFiles", new {id = 0})"><i class="fa fa-address-card-o fa-fw"></i> Case File</a></li>
                            <li><a href="@Url.Action("EditContact","Doctors", new {id = 0})"><i class="fa fa-user-md fa-fw"></i> Doctor</a></li>
                            <li><a href="#"><i class="fa fa-hospital-o fa-fw"></i> Hospital</a></li>
                            <li><a href="#"><i class="fa fa-medkit fa-fw"></i> Practice</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    @*END: Add actions*@
                    @*BEGIN: User name actions*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i>
                            @user.FullName
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Some option</a></li>
                            <li><a href="@Url.Action("DoctorsAddedRemoved", "Reports", new {dateFrom = "01/01/2017", dateTo = DateTime.Now})">Report</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i> Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Logoff", "Logon")"><i class="fa fa-power-off"></i> Sign out</a></li>
                        </ul>
                    </li>
                    @*END: User actions*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
