@using hlcWeb.Models;
@{ 
    var user = (User)Session["User"] ?? new User();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - HLC</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    @*<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="/icons/apple-icon.png" />*@
    @*Following from https://www.favicon-generator.org/*@
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @Styles.Render("~/Content/css")
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="fa fa-heartbeat fa-3x hlc-brand" style="float: left;margin-top: 11px;margin-right:8px;margin-left:3px;"></i> @Html.ActionLink("Hospital Liaison Committee", "Search", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs"><a href="@Url.Action("List", "Reports")" title="Reports"><i class="fa fa-file-text-o fa-fw" style="font-size: 20px;"></i><span style="display:inline-block" class="visible-xs">Reports</span> </a></li>
                    <li class="visible-xs"><a href="@Url.Action("Search", "Home")" title="Search"><i class="fa fa-search fa-fw" style="font-size: 20px;"></i> Search</a></li>
                    <li class="hidden-xs"><a href="@Url.Action("Search", "Home")" title="Search"><i class="fa fa-search fa-fw" style="font-size: 20px;"></i></a></li>
                    @*BEGIN: Add actions*@
                    <li class="dropdown hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle"></i> Add <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Edit","CaseFiles", new {id = 0})"><i class="fa fa-address-card-o fa-fw"></i> Case File</a></li>
                            <li><a href="@Url.Action("EditContact","Doctors", new {id = 0})"><i class="fa fa-user-md fa-fw"></i> Doctor</a></li>
                            <li><a href="@Url.Action("Edit","Hospitals", new {id = 0})"><i class="fa fa-hospital-o fa-fw"></i> Hospital</a></li>
                            <li><a href="@Url.Action("Edit","Practices", new {id = 0})"><i class="fa fa-medkit fa-fw"></i> Practice/Facility</a></li>
                            @if (user.UserRole == "Admin")
                            {
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("EditContact","PVGMembers", new {id = 0})"><i class="fa fa-heart-o fa-fw"></i> PVG Member</a></li>
                                <li><a href="@Url.Action("Edit","Presentations", new {id = 0})"><i class="fa fa-bar-chart fa-fw"></i> Presentation</a></li>
                                <li><a href="@Url.Action("Edit","Users", new {id = ""})"><i class="fa fa-user-o fa-fw"></i> User</a></li>
                            }
                        </ul>
                    </li>
                    @*END: Add actions*@
                    @*BEGIN: User name actions*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i>
                            @user.FullName
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("MyProfile", "Users")"><i class="fa fa-user-o fa-fw"></i> My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            @if (user.UserRole == "Admin")
                            {
                            <li><a href="@Url.Action("Menu","Admin", new {id = ""})"><i class="fa fa-cog fa-fw"></i> Administration</a></li>
                            }
                            <li><a href="@Url.Action("Logoff", "Logon")"><i class="fa fa-power-off fa-fw"></i> Sign out</a></li>
                        </ul>
                    </li>
                    @*END: User actions*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
            <div id="map" style="width: 100%; height: 530px;"></div>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        window.onload = function() {
            L.mapquest.key = 'O7D1EV8Bz7JcPgz5cT1OoyzH9zz1RPX2';

            var geocoder = L.mapquest.geocoding();
            geocoder.geocode(['4003 Lawrence Daniel Drive, Matthews NC 28104'], geocodingCallback);

            function geocodingCallback(error, result) {
                console.log(result);
            }

            L.mapquest.geocoding().geocode('4003 Lawrence Daniel Drive, Matthews NC 28104', createMap);

            function createMap(error, response) {
                var location = response.results[0].locations[0];
                var latLng = location.displayLatLng;
                var map = L.mapquest.map('map', {
                    center: latLng,
                    layers: L.mapquest.tileLayer('map'),
                    zoom: 15
                });

                var customIcon = L.mapquest.icons.flag({
                    primaryColor: '#22407F',
                    secondaryColor: '#3B5998',
                    shadow: true,
                    size: 'md',
                    symbol: 'Hello'
                });

                L.marker(latLng, { icon: customIcon }).addTo(map);
            }
        }
    </script>

</body>
</html>
