@model hlcWeb.ViewModels.HospitalViewModel
@{
    var action = (Model.Hospital.Id == 0) ? "Add" : "Edit";
    ViewBag.Title = $"{action} Hospital";
}

<div class="well">
    <i class="fa fa-hospital-o fa-2x fa-fw text-primary"></i><span class="h3"> @action Hospital</span>
</div>
<div class="container">
    @using (Html.BeginForm("Edit", "Hospitals", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Hospital.Id)
        @Html.HiddenFor(m => m.Hospital.CommitteeId)
        @Html.HiddenFor(m => m.Hospital.DateEntered)
        @Html.HiddenFor(m => m.Hospital.EnteredBy)
        @Html.HiddenFor(m => m.Hospital.DateLastUpdated)
        @Html.HiddenFor(m => m.Hospital.LastUpdatedBy)

        <div class="form-group">
            @Html.LabelFor(m => m.Hospital.HospitalName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Hospital.HospitalName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Hospital.HospitalName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Hospital.Address1, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Hospital.Address1, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Hospital.Address1)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                @Html.TextBoxFor(m => m.Hospital.Address2, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Hospital.Address2)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Hospital.City, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Hospital.City, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Hospital.City)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Hospital.State, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Hospital.State, new { @class = "form-control", style = "width:60px;" })
                @Html.ValidationMessageFor(m => m.Hospital.State)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Hospital.HospitalType, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(m => m.Hospital.HospitalType, optionLabel: "Select...", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Hospital.HospitalType)
            </div>
        </div>
        <div class="form-group hlc-control">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Hospital.HasPediatrics)
                        @Html.LabelFor(m => m.Hospital.HasPediatrics)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group hlc-control">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Hospital.HasBSMP)
                        @Html.LabelFor(m => m.Hospital.HasBSMP)
                    </label>
                </div>
            </div>
        </div>

        <fieldset id="BmspDetails" class="well panel-info col-sm-offset-1 col-sm-10" style="display:none">
            <div style="border-bottom-style: inset;margin-bottom: 10px;"><strong>
                Bloodless Management Surgery Program
            </strong></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Hospital.BmspCoordName, new {@class = "col-sm-2 control-label hlc-bmsp"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Hospital.BmspCoordName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Hospital.BmspCoordName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Hospital.BmspCoordPhone, new {@class = "col-sm-2 control-label hlc-bmsp"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Hospital.BmspCoordPhone, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Hospital.BmspCoordPhone)
                </div>
            </div>
            <div class="form-group hlc-control">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.Hospital.BmspCoordIsWitness)
                            @Html.LabelFor(m => m.Hospital.BmspCoordIsWitness, new {@class = "control-label hlc-bmsp"})
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @Html.LabelFor(m => m.Hospital.BmspCommitment, new {@class = "control-label hlc-bmsp"})
                    @Html.TextAreaFor(m => m.Hospital.BmspCommitment, new {@class = "form-control", rows = "4", placeholder = "Describe the level of commitment from the hospital administration"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @Html.LabelFor(m => m.Hospital.BmspSpecialties, new {@class = "control-label hlc-bmsp"})
                    @Html.TextAreaFor(m => m.Hospital.BmspSpecialties, new {@class = "form-control", rows = "4", placeholder = "List the specialties represented in the program and describe those that have a high level of experience in a particular type of surgery or medical care"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Hospital.BmspNumberOfDoctors, new {@class = "col-sm-2 control-label hlc-bmsp"})
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Hospital.BmspNumberOfDoctors, new {@class = "form-control", style = "width:80px;"})
                    @Html.ValidationMessageFor(m => m.Hospital.BmspNumberOfDoctors)
                </div>
            </div>

        </fieldset>
        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Cancel</button>
            </div>
        </div>

    }
</div>
@section scripts
{
    <script>
        $(document).ready(function() {

            // Form loaded: set correct state for dependent dropdowns and textareas
            if ($("#Hospital_HasBSMP").prop('checked')) {
                $("#BmspDetails").show();
            }

            // React to user selection and set states
            $("#Hospital_HasBSMP").click(function () {
                if ($(this).prop('checked')) {
                    $("#BmspDetails").show();
                    $("#Hospital_BmspCoordName").focus();
                } else {
                    $("#BmspDetails").hide();
                }
            });

            $("form").submit(function() {
                var form = $(this);
                // Highlight errors
                if (form.valid() === false) {
                    form.find("div.form-group").each(function() {
                        if ($(this).find("span.field-validation-error").length > 0)
                            $(this).addClass("has-error");
                        if ($(this).find("span.field-validation-valid").length > 0)
                            $(this).removeClass("has-error");
                    });
                }
                return true;
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")

}