@model hlcWeb.ViewModels.HospitalViewModel

@{
    ViewBag.Title = "Hospital";
}

<h3><i class="fa fa-hospital-o fa-2x text-primary"></i> @(Model.Hospital?.HospitalName) </h3>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Hospital Information</div>
                <table class="table table-condensed hlc-table-form">
                    <tr>
                        <td class="hlc-prompt">Address:</td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.Hospital?.Address1))
                            {
                                @Model.Hospital.Address1 <br />
                            }
                            @if (!string.IsNullOrEmpty(Model.Hospital?.Address2))
                            {
                                @Model.Hospital.Address2 <br />
                            }
                            @(Model.Hospital?.City)  @(Model.Hospital?.State)  @(Model.Hospital?.Zip) <br />
                            <a href="tel:@(Model.Hospital?.OfficePhone1)">@(Model.Hospital?.OfficePhone1) </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Doctors at this Hospital</div>
                @if (Model.Doctors.Count == 0)
                {
                    <div class="panel-body text-center">
                        <em>There are no HLC Doctors at this Hospital.</em>
                    </div>
                }
                else
                {
                    {Html.RenderPartial("DoctorList", Model.Doctors);}
                }
            </div>
        </div>
    </div>            
</div>