@model List<hlcWeb.Models.Doctor>

<br />
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <i class="fa fa-user-md"></i> Doctors
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Attitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(@d.LastName, "View", "Doctors", new { id = @d.ID }, null) </td>
                    <td>@d.FirstName</td>
                    @*<td><i class="@d.AttitudeText fa @d.AttitudeIcon" title="@d.AttitudeText"></i> <span class="hidden-xs">@d.AttitudeText</span></td>*@
                    <td align="center">
                        <span class="@d.AttitudeText fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa @d.AttitudeIcon fa-stack-1x fa-inverse" title="@d.AttitudeText"></i>
                        </span>
                        <span class="hidden-xs" style="width:100px;text-align:left">@d.AttitudeText</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
